<div class="container">
  <div class="row">
    <div class="col title">
      <h1>Pokémon Detalhe</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 pokemon-detail">
      <a routerLink="/">Voltar</a>
      <div class="main">
        <div class="name">
          <h2>#1 Bulbassaur</h2>
        </div>
        <div class="type">
          <h3>Tipo: </h3>
          <h5><span class="badge badge-secondary">grass</span>
          <span class="badge badge-secondary">poison</span></h5>
        </div>
        <div class="hability">
          <h3>Habilidades: </h3>
          <p>overgrow</p>
        </div>
        </div>
        <button class="btn btn-primary btn-block">Editar</button>
      </div>
  </div>
</div>