<div class="container">
  <div class="row">
    <div class="col title">
      <h1>Pokémon Detalhe</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 pokemon-detail">
      <a routerLink="/">Voltar</a>
      <div class="main" *ngIf="pokemon">
        <div class="name">
          <h2>#1 {{ pokemon.name }}</h2>
        </div>
        <div class="type">
          <h3>Tipo: </h3>
          <h5>
            <span class="badge badge-secondary color-{{type}}" *ngFor="let type of pokemon.types">{{ type }}</span>
          </h5>
        </div>
        <div class="hability">
          <h3>Habilidades: </h3>
          <p *ngFor="let ability of pokemon.abilities">{{ ability }}</p>
        </div>
        <button class="btn btn-primary btn-block" routerLink="/pokemon-insert" [queryParams]="{id: pokemonId}" fragment="edit" >Editar</button>
      </div>
    </div>
  </div>
</div>