<div class="container">
  <div class="row">
    <div class="col title">
      <h2>Adicionar Pokémon</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 form-insert">
      <a href="#">Voltar</a>
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name">Nome do Pokémon</label>
              <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="padding-right: 2px;">
            <div class="form-group">
              <label for="type">Tipo 1</label>
              <input type="text" class="form-control" id="type" aria-describedby="type" placeholder="Tipo">
            </div>
          </div>
          <div class="col" style="padding-left: 2px;">
            <div class="form-group">
              <label for="type">Tipo 2*</label>
              <input type="text" class="form-control" id="type" aria-describedby="type" placeholder="opcional">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="ability">Abilidade 1</label>
              <input type="text" class="form-control" id="ability" aria-describedby="ability" placeholder="habilidade">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="ability">Abilidade 2*</label>
              <input type="text" class="form-control" id="ability" aria-describedby="ability" placeholder="opcional">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="ability">Abilidade 3*</label>
              <input type="text" class="form-control" id="ability" aria-describedby="ability" placeholder="opcional">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
      </form>
    </div>
  </div>
</div>