<div style="text-align:center">
  <h1>
    Welcome to Pokedex!
  </h1>
  <img width="140" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="container">
  <div class="row">
    <div class="col-12 link-insert">
        <i class="fas fa-plus"></i>&nbsp;<a routerLink="/pokemon-insert">Inserir Pokémon</a>
    </div>
  </div>
  <div class="row search">
    <div class="input-group mb-3 col-sm-8 col-md-5">
      <input type="text" class="form-control" aria-label="search" placeholder="Buscar pokémon">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
    </div>
  </div>
  <div class="row list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of pokemons">
          <th scope="row">{{ pokemon.order }}</th>
          <td>{{ pokemon.name }}</td>
          <td><a routerLink="/pokemon-detail">ver mais</a></td>
          <td><span class="btn-remove"><i class="far fa-trash-alt"></i></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
